@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input[type=text], input[type=button], input[type=number], input[type=password], input[type=tel], textarea, textarea:focus {
  outline: 0;
  -webkit-appearance: none;
}

input[type=text], textarea {
  line-height: 1.2em;
  letter-spacing: 0.1em;
  border: none;
}

/* iOSボタンリセット */
input[type=submit], input[type=button] {
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}
input[type=submit]::-webkit-search-decoration, input[type=button]::-webkit-search-decoration {
  display: none;
}
input[type=submit]::focus, input[type=button]::focus {
  outline-offset: -2px;
}

button:focus {
  outline: 0;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

a {
  text-decoration: none;
  color: #333;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Antonio", sans-serif;
  overflow: hidden;
  overflow: hidden;
  width: 100% !important;
  height: 100vh !important;
  margin: 0 !important;
}

.loader {
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.loader__para {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.loader__img {
  display: block;
  width: 80%;
  max-width: 300px;
  margin: 0 auto 20px auto;
  opacity: 0.5;
}
.loader__link {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  margin: auto;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  color: white;
}

#ar-show {
  display: none;
}

.ui {
  position: absolute;
  z-index: 100;
  z-index: 9500;
  bottom: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 15px 30px;
  text-align: center;
}
.ui__btn {
  line-height: 100%;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
  color: #303030;
  border-radius: 50%;
  background-color: #fff;
}
.ui__btn.disabled {
  pointer-events: none;
  color: #ccc;
}
.ui__music-img {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.ui__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.screenshot {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  visibility: hidden;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border: 0.5px solid #fff;
}
.screenshot.visible {
  visibility: visible;
}
.screenshot__img {
  max-width: 100%;
  height: auto;
}
.screenshot__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.is_show {
  display: block !important;
}

.is_hidden {
  display: none !important;
}

.caution {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.3;
  position: absolute;
  z-index: 9000;
  top: 20px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  color: #fff;
}

.info {
  position: absolute;
  right: 10px;
  bottom: 110px;
  text-transform: uppercase;
}
.info__close, .info__open {
  font-size: 15px;
  font-weight: 300;
  z-index: 1;
  margin: 0 10px 0 0;
  padding: 10px 0;
  cursor: pointer;
  text-align: right;
  color: #fff;
}
.info__open {
  display: none;
}
.info__open {
  display: none;
}
.info__group {
  display: block;
  margin: 0 0 10px 0;
  padding: 15px 20px 10px 20px;
  background: rgba(0, 0, 0, 0.5);
}
.info__ttl {
  line-height: 1.2;
  margin: 0 0 5px 0;
  color: #fff;
}
@media screen and (max-width: 330px) {
  .info__ttl {
    font-size: 14px;
  }
}
.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 5px 0;
}
.info__text__para {
  line-height: 1.2;
  margin: 0 0 0 5px;
  color: #fff;
}
@media screen and (max-width: 330px) {
  .info__text__para {
    font-size: 14px;
  }
}
.info__text .material-icons {
  font-size: 20px;
  color: #fff;
}
.info__lists {
  list-style: none;
}
.info__list {
  margin: 0 0 10px 0;
}
.info__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__icons__link {
  display: block;
  margin: 0 15px 0 0;
  color: #fff;
}
@media screen and (max-width: 330px) {
  .info__icons__link {
    font-size: 10px;
  }
}
.info__icons__link:last-of-type {
  margin: 0;
}

.note {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  z-index: 9000;
  top: 50%;
  left: 50%;
  display: block;
  display: none;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #fff;
}

/*===========================================*/
/*popup*/
/*===========================================*/
.modal {
  line-height: 1.7;
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__wrapper {
  position: relative;
  z-index: 9999;
  top: 50%;
  left: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 500px;
  max-width: 90%;
  max-height: 70vh;
  margin: 0;
  padding: 3rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
}
.modal__close {
  font-size: 40px;
  font-weight: 300;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 15px;
  margin: 0 10px 0 0;
  cursor: pointer;
  color: #fff;
}
.modal__ttl {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 10px 0;
  text-align: center;
}
.modal__year {
  font-size: 15px;
  margin: 0 0 10px 0;
  text-align: center;
}
.modal__desc {
  font-size: 15px;
  margin: 0 0 10px 0;
}